$color-text: rgb(119, 246, 15);
$bg-color: rgb(50, 11, 228);
.main {
  width: 100%;
  height: 350px;
  background-color: $bg-color;
  .text1 {
    font-size: 44px;
    color: $color-text;
  }
  .text2 {
    font-size: 60px;
    color: #ffffff;
  }
}

#image {
  width: 100%;
  height: 800px;
  overflow: hidden;
  margin-bottom: 50px;
  img {
    width: 100%;
    height: 100%;
  }
}
